@import '../../../colors';

.vid-section {
  height: 35em;
  background-color: $button_black;
  width: 100%;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  h1,
  span {
    position: relative;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 100px;
  }

  h1 {
    span {
      border: 1px solid $white;
      border-radius: 19px;
      padding: 0 0.2em;
    }
  }
}

@media only screen and (max-width: 780px) {
  .vid-section {
    height: 24em;

    h1,
    span {
      font-size: 50px;
    }
  }
}
