@import '../../../colors';

.sauce-cont {
  background-color: $white;
  position: relative;

  .heading {
    color: $text_black_1;
    font-size: 57px;
  }

  .form-cont {
    background-color: $text_black_1;
    color: $white;
    padding: 7em 0;

    h3 {
      font-size: 100px;
      padding: 0 0 0.7em;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 30px;
        margin-bottom: 1em;
      }

      input {
        font-family: 'CustomFont';
        width: 17em;
        padding: 0.3em 1em;
        border-radius: 10em;
        margin: 0.5em 0;
        border: 0;
        font-size: 15px;

        &::placeholder {
          color: $text_black_1;
        }
      }

      button {
        background-color: $blue;
        color: $white;
        padding: 0.3em 2em;
        font-size: 15px;
        border: 0;
        border-radius: 10em;
        margin: 0.8em 0;
        font-family: 'CustomFont';
        transition: all 1s;

        &:hover {
          background-color: $blue_hover;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .sauce-cont {
    .heading {
      font-size: 37px;
    }

    .form-cont {
      h3 {
        font-size: 50px;
      }
    }
  }
}
