@import '../../../colors';

.goals-cont {
  position: relative;
  background-color: $white;

  .goals-content {
    display: flex;
    justify-content: flex-end;

    &:nth-child(2n) {
      justify-content: flex-start;

      .goals {
        flex-direction: row-reverse;

        .image {
          background-color: $card_back;
          border-bottom-right-radius: 30px;
          border-top-right-radius: 30px;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          justify-content: flex-end;
        }

        .text {
          padding: 0 0 0 6em;

          h3 {
            padding: 0 3em 0 0;
          }
        }
      }
    }

    .goals {
      display: flex;
      max-width: 1200px;
      padding: 5em 0;

      .image {
        width: 58%;
        background-color: $card_back;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        height: 442px;
        display: flex;
        align-items: center;
        padding: 0 3em;
        transition: all 1s;

        img {
          width: 329px;
          height: auto;
        }

        &:hover {
          background-color: $card_back_hover;
        }
      }

      .text {
        flex: 1;
        text-align: left;
        padding: 0 6em 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          font-size: 26px;
          font-family: 'Poppins';
          margin-bottom: 1em;
          padding: 0 2em 0 0;
        }

        p,
        span {
          font-family: 'CustomFont';
        }

        p {
          font-size: 16px;
          line-height: 1.4em;
          white-space: pre-line;
          margin-bottom: 1em;

          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .goals-cont {
    .goals-content {
      padding-bottom: 3em;

      &:nth-child(2n) {
        .goals {
          flex-direction: column-reverse;

          .image {
            border-radius: 8em;
          }

          .text {
            padding: 0;
          }
        }
      }

      .goals {
        flex-direction: column-reverse;
        width: 100%;
        max-width: none;
        align-items: center;
        padding: 0 4em;

        .image {
          height: auto;
          width: 100%;
          padding: 3em;
          border-radius: 8em;
          margin-bottom: 3em;

          img {
            width: 100%;
          }
        }

        .text {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .goals-cont {
    .goals-content {
      .goals {
        padding: 0 1em;
      }
    }
  }
}
