@import '../../colors';

footer {
  position: relative;
  background-color: $white;
  font-size: 10px;
  padding: 6em 0 1em;

  ul {
    margin: 1em 0;

    li {
      display: inline-block;
      margin: 0 1.5em;

      a {
        color: $text_black_1;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
