@import'../../../colors';

.best-of-remote {
  margin: 7em 0;

  & > div {
    max-width: 53em;
    margin: auto;

    img {
      width: 587px;
      height: auto;
    }
  
    .text-cont {
      text-align: left;

      p {
        font-family: Arial, Helvetica, sans-serif;
        color: $text_black_1;
  
        &:first-child {
          color: $blue;
          font-size: 16px;
          font-weight: 600;
          margin-top: 2em;
        }
  
        &:last-child {
          font-size: 16px;
          padding-right: 9em;
        }
  
        &:nth-child(2) {
          font-size: 67px;
          font-weight: bold;
          margin: 0.5em 0;
        }
      }
    }
  }
}
