@import '../../../colors';

.best-of-remote {
  padding: 7em 0;
  position: relative;
  background-color: $white;

  .best-of-remote-content {
    max-width: 960px;
    margin: auto;

    img {
      width: 587px;
      height: auto;
    }

    .text-cont {
      text-align: left;

      p {
        color: $text_black_1;

        &:first-child {
          color: $blue;
          font-size: 16px;
          font-weight: bold;
          margin-top: 2em;
        }

        &:last-child,
        &:first-child {
          font-family: 'CustomFont';
        }

        &:last-child {
          font-size: 16px;
          padding-right: 4em;
        }

        &:nth-child(2) {
          font-size: 67px;
          font-weight: bold;
          margin: 0.5em 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .best-of-remote {
    .best-of-remote-content {
      max-width: none;
      width: 100%;
      padding: 0 4em;

      .text-cont {
        text-align: left;

        p {
          &:last-child {
            font-size: 16px;
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .best-of-remote {
    padding: 3em 0;

    .best-of-remote-content {
      padding: 0 1em;

      img {
        max-width: 90%;
      }

      .text-cont {
        p {
          &:nth-child(2) {
            font-size: 37px;
          }
        }
      }
    }
  }
}
