@import '../../../colors';

.best-of-remote {
  padding: 7em 0;
  position: relative;
  background-color: $white;

  & > div {
    max-width: 53em;
    margin: auto;

    img {
      width: 587px;
      height: auto;
    }

    .text-cont {
      text-align: left;

      p {
        color: $text_black_1;

        &:first-child {
          color: $blue;
          font-size: 16px;
          font-weight: bold;
          margin-top: 2em;
        }

        &:last-child,
        &:first-child {
          font-family: 'CustomFont';
        }

        &:last-child {
          font-size: 16px;
          padding-right: 4em;
        }

        &:nth-child(2) {
          font-size: 67px;
          font-weight: bold;
          margin: 0.5em 0;
        }
      }
    }
  }
}
